﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("ANASAYFA", "Index", "Home")</li>
                    <li>@Html.ActionLink("KAYIT", "About", "Home")</li>
                    <li>@Html.ActionLink("GİRİŞ", "Contact", "Home")</li>
                    <li>@Html.ActionLink("HAKKIMIZDA", "Contact", "Home")</li>
                </ul>
                @Html.ActionLink(" ÖNERİ'YORUM'", "Index", "Home", null, new { @class = "navbar-brand" })
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("FİLMLER", "Index", "Home")</li>
                    <li>@Html.ActionLink("OYUNLAR", "About", "Home")</li>
                    <li>@Html.ActionLink("KİTAPLAR", "Contact", "Home")</li>
                    <li>@Html.ActionLink("MÜZİKLER", "Contact", "Home")</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
